body{
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}


.user-input{
   display: block;
   margin: 20px auto;
   width:90%;
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px 10px;
   font-size: 18px;
   
}


.auth-form{
    width:400px;
    border: 2px solid ;
    padding:10px;
    display: block;
    margin: 0 auto;
    border-radius:10px ;
    background-color: ;
    z-index: 100;

}

.auth-heading{
    text-align: center;
    color: black;
}

.auth-link{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 25px;
    text-decoration: none;
}

.link-text{
    color: blue;
}
.user-input:focus,input-input:active{
    outline: none;
   
}

.btn-auth{
 background-color: black;
 color: white;
 padding: 10px 20px;
 border-radius: 20px;
 border: none;
 cursor: pointer;
 font-size: 18px;
 display: block;
 margin: 15px auto;
}

.btn-auth:hover{
    background-color:#3765ec ;
    transition: 0.3s;
}


