/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    padding: 0;
    margin: 0; 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% );
    /* background-image: radial-gradient( circle farthest-corner at 50.1% 37.3%,  rgba(92,213,249,1) 0%, rgba(123,243,248,1) 90.1% ); */
}
.user-input{
    display: block;
   margin: 20px auto;
    width:90%;
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px 10px;
   font-size: 18px;
}
.auth-form{
    width:400px;
    border: 2px solid ;
    padding:10px;
    display: block;
    margin: 0 auto;
    border-radius:10px ;
    z-index: 100;
}

.auth-heading{
    text-align: center;
    color: black;
}

.auth-link{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 25px;
    text-decoration: none;
}

.link-text{
    color: blue;
}
.user-input:focus,input-input:active{
    outline: none;
   
}

.btn-auth{
 background-color: black;
 color: white;
 padding: 10px 20px;
 border-radius: 20px;
 border: none;
 cursor: pointer;
 font-size: 18px;
 display: block;
 margin: 15px auto;
}

.btn-auth:hover{
    background-color:#3765ec ;
    transition: 0.3s;
}

@media screen and (max-width:500px){
    .user-input{
        display: block;
        margin: 20px auto;
        width:90%;
        padding: 7px 7px;
        font-size: 14px;
     }
     .auth-form{
         width:80%;
         padding:10px;
     }
     
     .auth-heading{
         text-align: center;
         color: black;
         font-size: 18px;
     }
     
     .auth-link{
         margin-top: 20px;
         font-size: 17px;
         text-decoration: none;
     }
     
     .link-text{
         font-size: 17px;
     }
     
     .btn-auth{
      padding: 7px 15px;
      font-size: 12px;
      margin: 15px auto;
     }
     
          
}


